:root {
  --bg-color: #0c0c24;
  --bg-lighter-color: #16163d;
  --dark-purple: #23235f;
  --light-color: #50fbdf;
  --light-color-alpha: #50fbdec9;
  --light-color-gradient: linear-gradient(
    90deg,
    var(--light) 12%,
    var(--bg-lighter-color) 100%
  );
  --form-color: #141435;
  --gray: #dadada;
  --light-gray: #e7e7e7;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background-color: var(--bg-color);
}

p {
  color: var(--gray);
}

.top-nav {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: var(--bg-lighter-color);
  overflow: hidden;
}

.title {
  font-size: 30px;
  padding-top: 3px;
}

.dropdown {
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
  width: 60px;
  height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 29px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--light-gray);
}

.dropdown:hover .dropdown-content {
  animation: dropdown-content-in 150ms forwards ease-in-out;
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--dark-purple);
}

.descriptor {
  margin: auto;
  margin-top: 25px;
  width: 60%;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--light-color-alpha);
  text-align: center;
  animation: descriptor-in 350ms;
}

.form {
  margin: auto;
  margin-top: 25px;
  width: 70%;
  max-width: 700px;
  min-height: 150px;
  padding: 4px 8px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.6);
  background-color: var(--form-color);
  animation: form-in 320ms ease-in-out;
}

.form-field {
  width: 100%;
}

.form-field-range {
  width: 100%;
}

.form-field * {
  float: left;
}

.form-field-range * {
  float: left;
}

.field-name {
  font-size: 16px;
  margin-right: 20px;
}

.field-input {
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #50fbde70;
  background-color: var(--bg-color);
  padding: 5px;
  color: var(--gray);
  outline: none;
  animation: field-input-out 220ms forwards ease-in-out;
}

.field-input:focus {
  animation: field-input-in 220ms forwards ease-in-out;
}

@keyframes descriptor-in {
  0% {
    opacity: 0%;
    transform: translate(0, 14px);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes form-in {
  0% {
    opacity: 0%;
    transform: translate(0, 14px);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes dropdown-content-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes field-input-in {
  0% {
    border-top: 1px solid #50fbde00;
    border-bottom: 1px solid #50fbde70;
  }
  100% {
    border-bottom: 1px solid #50fbde00;
    border-top: 1px solid #50fbde70;
  }
}

@keyframes field-input-out {
  0% {
    border-top: 1px solid #50fbde70;
    border-bottom: 1px solid #50fbde00;
  }
  100% {
    border-top: 1px solid #50fbde00;
    border-bottom: 1px solid #50fbde70;
  }
}
